body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

html {
    width: 100%;
    height: 100%;
}

#welcomeMessage {
    color: #ebaf84;
    text-align: center;
    opacity: 0.5;
}

#sketch-holder {
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}