body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

html {
    width: 100%;
    height: 100%;
}

h2 {
    color: #ebaf84;
    padding-left: 15px;
    padding-top:15px;
    font-family: 'Englebert', sans-serif;
}

#welcomeMessage {
    opacity: 0.6;
}

#welcomeMessageShadow {
    opacity: 0.3;
}

#sketch-holder {
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}